/* Utility Classes and Variables */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Variables */
:root {
    --primary-color: #88b44e;
    --secondary-color: #252c30;
    --text-color: var(--secondary-color);
    --bg-dark: var(--secondary-color);
    --bg-overlay: rgba(0, 0, 0, 0.5);
    --font-family: "Arial", sans-serif;
    --open-sans: "Open Sans", sans-serif;
    --playfair-display: "Playfair Display", serif;
    --btn-bg: var(--primary-color);
    --btn-color: var(--secondary-color);
    --btn-radius: 8px;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
/* Text Colors */
.btn {
    font-weight: 500;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-white {
    color: #fff;
}

/* Background Colors */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-dark {
    background-color: var(--bg-dark);
}

.bg-white {
    background-color: #fff;
}

/* Responsive Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* font */
.font-open-sans {
    font-family: var(--open-sans);
}

.font-playfair-display {
    font-family: var(--playfair-display);
}


/* Font Sizes */
.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-base {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-5xl {
    font-size: 3rem;
}

.text-6xl {
    font-size: 4rem;
}

.fs-xxl {
    font-size: 40px;
}

.font-bold {
    font-weight: bold;
}

.font-900 {
    font-weight: 900;
}

.font-700 {
    font-weight: 700;
}

.font-semibold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.font-normal {
    font-weight: 400;
}

.font-light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* display */
.block {
    display: block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}


/* Border */
.border-radius-sm {
    border-radius: 5px;
}

.border-radius-md {
    border-radius: 10px;
}

.border-radius-lg {
    border-radius: 15px;
}

.border-radius-xl {
    border-radius: 20px;
}

.border-radius-pill {
    border-radius: 999px;
}

.border-radius-full {
    border-radius: 50%;
}

/* Width */
.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-10 {
    width: 10%;
}




/* Shadow */
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.shadow-lg {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}


/* Animations */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.text-zoom-in {
    animation-name: text-zoom-in;
}

@keyframes text-zoom-in {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

/* Media Queries */

@media (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }

    .text-sm {
        font-size: 10px;
    }

    .text-md {
        font-size: 14px;
    }

    .text-lg {
        font-size: 20px;
    }

    .text-xl {
        font-size: 28px;
    }

    .text-xxl {
        font-size: 36px;
    }

    .w-50 {
        width: 100%;
    }

    .w-75 {
        width: 100%;
    }

    .w-30 {
        width: 100%;
    }

    .w-25 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .text-sm {
        font-size: 8px;
    }

    .text-md {
        font-size: 12px;
    }

    .text-lg {
        font-size: 18px;
    }

    .text-xl {
        font-size: 24px;
    }

    .text-xxl {
        font-size: 30px;
    }

    .w-50 {
        width: 100%;
    }

    .w-75 {
        width: 100%;
    }

    .w-30 {
        width: 100%;
    }

    .w-25 {
        width: 100%;
    }
}